<a href="https://colab.research.google.com/github/banderson20/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
!pip install -q -U keras-tuner

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Function to remove outliers using IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df_filtered = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df_filtered

# Apply the function to remove outliers in 'column_name'
application_df = remove_outliers(application_df, 'ASK_AMT')

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list (application[application<400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       20086
T4        1331
T19        999
T5         894
T6         882
T8         669
T7         633
T10        508
Other       91
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list (classification[classification<30].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    12557
C2000     4693
C1200     3997
C2100     1623
C3000     1537
C7000      546
Other      272
C1700      223
C4000      129
C5000      106
C1270       89
C2700       75
C7100       62
C2800       61
C1280       46
C1300       42
C1230       35
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL'], axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=26,
        step=2), activation=activation, input_dim=len(X_train[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=26,
            step=2),
            activation=activation))

    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn

In [ ]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2,
    directory='./untitled_project',
    project_name='tuner5.json')

In [ ]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 45s]
val_accuracy: 0.7474015951156616

Best val_accuracy So Far: 0.7511811256408691
Total elapsed time: 00h 21m 35s

In [ ]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 19,
 'num_layers': 4,
 'units_0': 25,
 'units_1': 17,
 'units_2': 3,
 'units_3': 25,
 'units_4': 3,
 'units_5': 23,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0042'}

In [ ]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

199/199 - 1s - loss: 0.5313 - accuracy: 0.7512 - 688ms/epoch - 3ms/step
Loss: 0.5313308238983154, Accuracy: 0.7511811256408691

In [35]:
import tensorflow as tf

# Define the model architecture
model = tf.keras.Sequential()

# Extract parameters from the dictionary
number_input_features = len(X_train[0])
activation = 'relu'


# Add the first hidden layer
model.add(tf.keras.layers.Dense(units=19, activation='relu', input_dim=(number_input_features)))

# Add subsequent hidden layers

model.add(tf.keras.layers.Dense(units=25, activation=activation))
model.add(tf.keras.layers.Dense(units=17, activation=activation))
model.add(tf.keras.layers.Dense(units=3, activation=activation))
model.add(tf.keras.layers.Dense(units=25, activation=activation))
model.add(tf.keras.layers.Dense(units=3, activation=activation))
model.add(tf.keras.layers.Dense(units=23, activation=activation))

# Add the output layer
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Display the model summary
fit_model = model.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
612/612 [==============================] - 3s 2ms/step - loss: 0.5804 - accuracy: 0.7158
Epoch 2/20
612/612 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7458
Epoch 3/20
612/612 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7487
Epoch 4/20
612/612 [==============================] - 2s 4ms/step - loss: 0.5378 - accuracy: 0.7520
Epoch 5/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7489
Epoch 6/20
612/612 [==============================] - 2s 4ms/step - loss: 0.5354 - accuracy: 0.7509
Epoch 7/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7505
Epoch 8/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7518
Epoch 9/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7511
Epoch 10/20
612/612 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7507
Epoch 11/20
612/612 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7515
Epoch 12/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7511
Epoch 13/20
612/612 [==============================] - 3s 4ms/step - loss: 0.5306 - accuracy: 0.7503
Epoch 14/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7526
Epoch 15/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7522
Epoch 16/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7525
Epoch 17/20
612/612 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7520
Epoch 18/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7523
Epoch 19/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7537
Epoch 20/20
612/612 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7532

In [36]:
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

204/204 - 0s - loss: 0.5408 - accuracy: 0.7422 - 488ms/epoch - 2ms/step
Loss: 0.5408166646957397, Accuracy: 0.742182731628418